body {
    background-color: #5ac68496; 
    color: #fff; 
}

#quare-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: #9191e9;
  }
  
  #button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 12px; 
    margin-top: 80px;
    margin-left: 90px;
    max-width: 40px; 
    text-align: center;
    
  }
  
  .custom-button {
    background-color: #1f2bb545;
    color: #fff;
    height: 100px;
    width: 100px;
    padding: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 10px;
  }
  
  .custom-button:hover {
    background-color: #0f3bfc;
  }
  
  #button1 {
    width: 265px;
    height: 10px;
    background-color: #1510a7;
    margin-top: 400px;
    margin-left: 125px;
    font-size: 15px;
  }
  
  #button1:hover {
    background-color: #4e32efaf;
  }
  

