html, body {
    margin: 0;
    height: 100%;
    /* background-color: navy; */
    background-color: rgb(249, 225, 193);
}

/* this dirrectly affects the elements that are tables */
table1, th, td {
    border: 1px solid;
    width: 50%; /* changed here */
    padding: 4px;
}

.image-style1 {
    width: 90%;
}

.text-style1 {
    width: 90%;
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;

}
.text-style2 {
    width: 90%;
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 50px;
    padding-top: 1%;

}

/* .BigContainer {
    display:flex
} */

/* the Start button div */
#app {
    /* background-color:blueviolet; */
    width: 15%;
    /* height: 200px; */
    float: left;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

button {
    /* width: max-content; */
    /* top: 50px;
    left: 2px; */
    /* border-radius: 60%; */
    width: 100%;
    height: 400px;
    border: none;
    background-color: rgb(249, 225, 193) ; 
    color: white;
    background-image: url(blue_crystal.webp);
    background-size:contain;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* background-color: #2596be; */
}

.GeneralContainer {
    display: inline-block;
    width: 50%;
    vertical-align: top;

}

/* div elements */

#message {
    /* background-color:beige; */
    padding: 20px;

}
/* change to    display: flex    if you want tables side by side and    display: inline-block to cascade if needed */
.TableContainer {
    display: flex; 
    width: 100%;
    /* background-color: antiquewhite; */
}

#table1 {
    width: 50%;
    border-spacing: 1px;
    border-collapse: separate;
    padding: 20px;
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    
}
#table2 {
    width: 50%;
    border-spacing: 1px;
    border-collapse: fixed;
    padding: 20px;
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    
}

#picture {
    /* background-color: antiquewhite; */
    /* padding: 20px; */
    position: center; 
}
/* Remember we have "message", "table1 and 2" and "picture" */

#img-container {
    display: inline-block;
    width: 30%;
}

#sorbet-img {
    width: 100% ;
    vertical-align: super;
} 
