@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  background: hsla(226, 35%, 39%, 0.842);
}

#button{
  width: 160px; 
  height: 100px; 
  background-color: rgb(187, 234, 235); 
  color: rgb(23, 22, 22);
  font-size: large; 
  font-family: cursive; 
  border-radius: 50%; 
  margin: 170px;
  margin-left: 60px;
  }


.animation-speaking , .animation-listening {
    display: none;
  }


.animation-speaking{
    margin-top: -285px;
    margin-left: 120px;
    margin-right: 230px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(190, 189, 189, 0.355);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.animation-listening{
  margin-top: -270px;
    margin-left: 120px;
    margin-right: 230px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(190, 189, 189, 0.355);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
  width: 0.9rem;
  height: 6rem;
  background-color: #f6f8f9;
  margin: 0 0.4rem;
  border-radius: 0.4rem;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

  .dot{
    width: 25px;
    height: 27px;
    background-color: #f6f8f9;
    margin: 0 0.4rem;
    border-radius: 50%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  .animation-speaking.active .wave {
    animation-name: waves;
  }

  .animation-speaking.hidden {
    display: none;
  }

  .animation-listening.hidden {
    display: none;
  }

  .animation-listening.active .dot {
    animation-name: dots;
  }

  @keyframes waves{
    0%{
      transform: scale(0); 
    }
    50%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }

  .wave:nth-child(2){
    animation-delay: 0.1s;
  }
  .wave:nth-child(3){
    animation-delay: 0.2s;
  }
  .wave:nth-child(4){
    animation-delay: 0.3s;
  }
  .wave:nth-child(5){
    animation-delay: 0.4s;
  }
  .wave:nth-child(6){
    animation-delay: 0.5s;
  }
  .wave:nth-child(7){
    animation-delay: 0.6s;
  }
  .wave:nth-child(8){
    animation-delay: 0.7s;
  }
  .wave:nth-child(9){
    animation-delay: 0.8s;
  }
  .wave:nth-child(10){
    animation-delay: 0.9s;
  }

  @keyframes dots{
    0%{
      transform: scale(0); 
    }
    50%{
      transform: scale(1); 
    }
    100%{
      transform: scale(0);
    }
  }

  .dot:nth-child(2){
    animation-delay: 0.1s;
  }
  .dot:nth-child(3){
    animation-delay: 0.2s;
  }
  .dot:nth-child(4){
    animation-delay: 0.3s;
  }
  .dot:nth-child(5){
    animation-delay: 0.4s;
  }
  .dot:nth-child(6){
    animation-delay: 0.5s;
  }
  .dot:nth-child(7){
    animation-delay: 0.6s;
  }
  .dot:nth-child(8){
    animation-delay: 0.7s;
  }
  .dot:nth-child(9){
    animation-delay: 0.8s;
  }
  .dot:nth-child(10){
    animation-delay: 0.9s;
  }

  /* star animations */

.star-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.star {
  width: 150px; 
  height: 150px;
  font-size: 90px; 
  position: relative;
}

.star::before,
.star::after {
  content: "★";
  position: absolute;
  color: rgba(255, 217, 0, 0.661);
  animation: blink 1s infinite alternate;
}

.star::before {
  top: 300px;
  right: 360px; 
}

.star::after {
  top: 400px; 
  right: 200px; 
}
/* star 1 */

.star1 {
  width: 150px; 
  height: 150px;
  font-size: 90px; 
  position: relative;
}

.star1::before,
.star1::after {
  content: "★";
  position: absolute;
  color: rgba(245, 237, 195, 0.864);
  animation: blink 1s infinite alternate;
}

.star1::before {
  top: -80px;
  right: 650px; 
}

.star1::after {
  top: 15px; 
  right: 550px; 
}


@keyframes blink {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* planet */

/* .planet {
  width: 100px;
  height: 100px;
  background: conic-gradient(
      #e3b3eea4 0%,
      #f6b86d 25%,
      #f7c590 50%,
      #e8b7ec 75%,
      #ec98b7 100%
  ); 
  border-radius: 50%;
  position: relative;
  animation: spin 10s linear infinite;
  animation-name: spin, move;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
      left: -100px;
  }
  50% {
      left: 50%;
      transform: translateX(-50%);
  }
  100% {
      left: calc(100% + 100px);
  }
} */

.spaceship {
  width: 200px;
  height: 100px;
  position: relative;
  animation: spin 10s linear infinite, move 5s ease-in-out infinite;
  transform-origin: center;
}

.body {
  width: 100%;
  height: 100%;
  background: conic-gradient(
    #e3b3eea4 0%,
    #f6b86d 25%,
    #f7c590 50%,
    #e8b7ec 75%,
    #ec98b7 100%
); 
  border-radius: 50px;
  position: absolute;
}

.window {
  width: 20px;
  height: 20px;
  background: #c6eaf1d6 0%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.window1 {
  left: 50px;
  width: 1cm;
  height: 1cm;
  left: 6%;
}

.window2 {
  left: 90px;
  width: 1cm;
  height: 1cm;
  left: 40%;
}

.window3 {
  left: 130px;
  width: 1cm;
  height: 1cm;
  left: 75%;
}

.wing {
  width: 80px;
  height: 30px;
  background: #989898;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 10px;
}

.left-wing {
  left: -5px;
  bottom: 90%;
  transform: rotate(210deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.right-wing {
  left: -5px;
  bottom: -20%;
  transform: rotate(150deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

@keyframes move {
  0% {
    left: -100px;
  }
  50% {
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    left: calc(100% + 100px);
  }
}

